body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
}
.container{
    background-color: #000000;
    padding: 30px;
    border-radius: 150px;
    margin-top: 50px;
}
.sig{
    width: 150px;
    height: 140px;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    margin: 30px;
}
.red:hover{
    background-color: red;
    
}
.yellow:hover{
    background-color: yellow;
}
.green:hover{
    background-color:green;
}